@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Regular.ttf) format("ttf"),
  url(../fonts/OpenSans-Regular.woff) format("woff"),
  url(../fonts/OpenSans-Regular.woff2) format("woff2");
  font-weight: 400;
}
  
@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Bold.ttf) format("ttf"),
	url(../fonts/OpenSans-Bold.woff) format("woff"),
  url(../fonts/OpenSans-Bold.woff2) format("woff2");
  font-weight: 700;
}

body {
  margin: 0;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 3;
}

.popup::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: 1;
}
	.popup-content {
		position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 23%;
    z-index: 3;
    background-color: #ffffff;
	}

.popup-container {
  padding: 52px 32px;
}

.close-btn {
	position: absolute;
  top: -26px;
  right: 0;
  width: 18px;
  height: 18px;
  fill: #ffffff;
}

.popup-header {
  margin: 0;
  text-align: center;

}

.popup-header::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  margin: 8px auto 0;
  background-color: #b59f5b;
  opacity: 0.400;
}

.popup-title {
	font-size: 20px;
  line-height: 1.45em;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  font-family: "OpenSans", "Arial", sans-serif;
}

.popup-form {
  display: flex;
  flex-direction: column;
}

.form-row {
	display: flex;
  flex-direction: column;
  font-size: 13px;
  line-height: 3em;
  color: #000000;
  font-weight: 400;
  font-family: "OpenSans" , "Arial", sans-serif;
}

.periodicity {
  padding: 1.5em 1.6em;
	box-sizing: border-box;
	margin-bottom: 2em;
	font-size: 13px;
  background-color: #f4f7f6;
  opacity: 0.5;
  border: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url(../svg/form-arrows.svg);
  background-repeat: no-repeat;
  background-size: 9px 18px;
  background-position: top 17px  right 13px;
}

.periodicity:focus {
  background-color: #b59f5b;
  border: none;
	outline: none;
  opacity: 1;
}

.radio-mailing {
	display: flex;
	flex-direction: column;
	margin-bottom: 2.6em;
	font-size: 13px;
	color: #000000;
	font-weight: 400;
	font-family: "OpenSans" , "Arial", sans-serif;
}

.text-radio-mailing {
	margin-bottom: 0.9em;
}

.text-input-radio-mailing {
	margin-right: 1.5em;
}

.text-input-radio-mailing::before {
	content: "";
	display:inline-block;
	vertical-align: bottom;
	width: 16px;
	height: 16px;
	margin-right: 7px;
	background-image: url(../svg/form-empty-circle.svg);
	background-repeat: no-repeat;
	background-size: 16px 16px;
	background-position: center center;
}

.input-radio-mailing:checked+.text-input-radio-mailing::before {
	content: "";
	display:inline-block;
	vertical-align: bottom;
	width: 16px;
	height: 16px;
	margin-right: 7px;
	background-image: url(../svg/form-circle.svg);
	background-repeat: no-repeat;
	background-size: 16px 16px;
	background-position: center center;
}

.input-themes-label {
	display: flex;
	flex-direction: column;
	font-size: 13px;
	color: #000000;
	font-weight: 400;
	font-family: "OpenSans" , "Arial", sans-serif;
}

.question-input-themes {
	margin-bottom: 10px;
}

.textarea-input-themes {
	min-height: 131px;
	padding: 1.7em;
	margin-bottom: 3.4em;
	box-sizing: border-box;
	font-size: 13px;
	color: #000000;
	font-weight: 400;
	font-family: "OpenSans" , "Arial", sans-serif;
	resize: none;
	outline: none;
	border: none;
	background-color:#f4f7f6;
}

.textarea-input-themes:focus {
	border: 1px solid #b59f5b;
}

.popup-button {
	min-height: 48px;
	font-size: 14px;
	line-height: 2.8em;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: 700;
	font-family: "OpenSans" , "Arial", sans-serif;
	background-color: #b59f5b;
	border: none;
}

.popup-button:hover {
	background-color: #323232;
}

.welcome {
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	min-height: 440px;
	color: #fff;
	text-align: center;
	background-image: url(../image/banner-bg.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	background-color: #000000;   
}

.welcome:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
	background: #000000;
	opacity: 0.6; 
}

 .container {
	 position: relative;
	 max-width: 1200px;
	 margin-left: auto;
	 margin-right: auto;
	 padding: 0 20px;  
}

.welcome-header {
	position: relative;
	top: 1.75rem;
	display: flex;
	justify-content: space-between;
	align-items: center; 
}

.logo-link-start {
	position: relative;
	display: block;
	min-width: 179px;
	min-height: 41px;
	background-image: url(../svg/noemi-logo.svg);
	background-repeat: no-repeat;
}

.menu {
	position: relative;
	max-width: 447px;
	font-size: 13px;
	font-family: "OpenSans" , "Arial", sans-serif;
	text-transform: uppercase;
	font-weight: 400;
}

.menu-list{
	display: flex;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.menu-list-item:hover {
	text-decoration: underline;
	text-transform: uppercase;
}

.menu-link {
	padding-right: 2.2em;
	text-decoration: none;
	color: #fff; 
}

.menu-link-last {
	padding-right: 0;
}

.welcome-title {     
	max-width: 15.1em;
	margin: 3.6em auto 0;
	font-family: "OpenSans" , "Arial", sans-serif;
	font-size: 45px;
	line-height: 1.6em;
	font-weight: 700;
	text-transform: uppercase;
}

.trends {
	width: 100%;
	text-align: center;
	font-family: "OpenSans" , "Arial", sans-serif;
}

.page-titles {
	margin-bottom: 1em ;
	font-family: "OpenSans" , "Arial", sans-serif;
	font-size: 20px;
	line-height: 1.45em;
	text-transform: uppercase;
	color: #0f0d0e;
	font-weight: 700;
}

.page-titles::after {
	content: "";
	display: block;
	width: 3.3em;
	margin: 0.5em auto 0;
	border-bottom: 0.15em solid #b59f5b;
	opacity: 0.6;
}

.trends-container {
	display: flex;
}

.trend-part {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: end;
	max-width: 25%;
	min-height: 319px;
	padding: 18px 16px;
	margin-right: 2px;
	box-sizing: border-box;
	text-align: left;
	text-transform: uppercase;
	font-weight: 700;
	font-family: "OpenSans" , "Arial", sans-serif;
	background-color: #eff6f1;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.trend-part:last-child {
	margin: 0;
}

.trend-part::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	background: #000000;
	background-size: initial;
	opacity: 0.6;
	z-index: 1;
}

.trend-part-interior {
	background-image: url(../image/trend1.jpg);
}

.trend-content {
	padding: 30px 30px;
	border: 3px solid rgba(181, 159, 91,0.6);
	z-index: 2;
}

.trend-categories {
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 2.8em;
}

.trend-categories-item {
	display: inline;
	list-style-type: none;
}

.trend-part-link {
	text-decoration: none;
	color: #b59f5b;
}

.trend-part-link:hover {
	text-decoration: underline;
}

.trend-title {
	margin: 0;
	font-size: 20px;
	line-height: 1.2em;
	color: #ffffff;
}

.trend-title-link {
	text-decoration: none;
	color: #ffffff;
}

.trend-title-link:hover {
	color: #b59f5b;
}

.trend-part-food {
	background-image: url(../image/trend2.jpg);
}

.trend-part-travel {
	background-image: url(../image/trend3.jpg);
}

.trend-part-health {
	background-image: url(../image/trend4.jpg);
}

.wrapper {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	margin-top: 65px;
	margin-bottom: 48px;
}

.main {
	min-width: 46%;
	margin-right: 120px;
	flex-grow: 1;
}

.card {
	position: relative;
	display: flex;
	margin-bottom: 61px;   
}

.card:last-of-type {
	margin-bottom: 0;
}

.card-picture {
	margin-right: 22px;
}

.card-content {
	font-family: "OpenSans" , "Arial", sans-serif;
	text-align: left;
	text-transform: none;
	line-height: 22px;
	color: #0f0d0e;     
}

.card-categories {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-weight: 700;
	color: #b59f5b;
	text-transform: uppercase;
	list-style-type: none;   
}

.card-categories-item {
	display: inline;
}

.card_categories_item:hover {
	text-decoration: underline;
	text-transform: uppercase;
}

.card-categories-item:nth-child(n+2) {
	padding-left: 9px;
}

.card-link {
	padding: 0;
	text-decoration: none;
	color: #b59f5b;
}

.content-title {
	margin: 0.25em 0 0 0;
	font-size: 20px;
	line-height: 1.2em;
	text-transform: uppercase;
	font-weight: 700;
}

.content-title-link {
	text-decoration: none;
	color: #000000;
}

.card-title-link:hover {
	text-transform: uppercase;
	color: #b59f5b;
}

.card-info {
	margin: 27px 0 54px;
	padding: 0;
}

.card-date-time {
	font-size: 12px;
	font-weight: 400;
	color: #888888;
}

.card-info-author {
	display: inline;
	margin-left: 0.5em;
	font-size: 12px;
	color: #000000;
	font-weight: 700;
}

.card-text {
	font-size: 15px;
	line-height: 1.5em;
	color: #0f0d0e;
	font-weight: 400;
	font-family: "OpenSans" , "Arial", sans-serif;
}

p {
		margin: 0;
}

.sidebar {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex-wrap: nowrap;
}

.new-posts {
	font-family: "OpenSans" , "Arial", sans-serif;
	font-weight: 700;
	text-align: center;
	color: #0f0d0e;
}

.sidebar-title {
	margin: 0 0 2.1em 0;
	font-size: 14px;
	text-transform: uppercase; 
}

.sidebar-title::after{
	content: "";
	display: block;
	width: 4.8em;
	margin: 0.8em auto 0;
	border-bottom: 4px solid #b59f5b;
}

.new-post {
	position: relative;
	display: flex;
	margin-bottom: 20px;  
}

.picture-new-post {
	max-width: 71px;
	margin-right: 20px; 
	font-size: small;
}

.header-new-post {
	position: relative;
	top: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	max-width: 181px;
	min-height: 70px;  
	text-align: left;
}

.new-post-date-time {
	margin: 0 0 4px 0;	
	font-size: 12px;
	color: #000000;
	font-weight: 400;
	font-family: "OpenSans" , "Arial", sans-serif;
	opacity: 0.541;
}

.new-post-title {
	margin: 0;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: #000000;
	font-weight: 700;
	font-family: "OpenSans" , "Arial", sans-serif;
}

.new-post-title-link {
	color: #000000;
	text-decoration: none;
}

.new-post-title-link:hover{
	color: #b59f5b;
}

.search-bar {
	width: 100%;
	margin: 40px 0 58px;
}

.search {
	display: flex;
	justify-content: space-between;
	background-color: #f4f7f6; 
}

.input-field:focus {
	outline: 1px solid #b59f5b;
}

.input-field {
	padding-left: 18px;
	box-sizing: border-box;
	font-size: 13px;
	line-height: 40px;
	color: #000000;
	font-weight: 400;
	font-family: "OpenSans" , "Arial", sans-serif;
	border: none;
	background-color: #f4f7f6;	
	outline: none;
}

.button-field {
	min-width: 49px;
	height: 49px;
	padding: 16px 16px 15px 15px;
	border: none;
	background-color: #b59f5b;
	background-image: url(../svg/search.svg);
	background-size: 18px;
	background-position: center;
	background-repeat: no-repeat;
}

.button-field:hover{
	background-color: #313131;
}

.mailing {
	width: 100%;
	font-family: "OpenSans" , "Arial", sans-serif;
	font-weight: 700;
	text-align: center;
	color: #0f0d0e; 
}

.form-mailing {
	display: flex;
	flex-direction: column;
	margin-bottom: 61px;
}

.input-mailing {
	min-height: 48px;
	margin-bottom: 18px;
	padding-left: 18px;
	font-size: 13px;
	line-height: 40px;
	color: #000000;
	font-weight: 400;
	font-family: "OpenSans" , "Arial", sans-serif;
	background-color: #f4f7f6;
	box-sizing: border-box;
	border: none;
	outline: none;
}

.input-mailing:focus {
	border: 1px solid #b59f5b;
}

.button-mailing {
	height: 48px;
	font-weight: 700;
	font-family: "OpenSans" , "Arial", sans-serif;
	font-size: 14px;
	line-height: 40px;
	text-transform: uppercase;
	border: none;
	background-color: #b59f5b;
	color: #ffffff;
}

.button-mailing:hover {
	background-color: #323232;
}

.tags {
	width: 100%;
	margin-bottom: 62px;
	text-align: center;
}

.tags-items {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	margin: 0;
	padding: 0;
}

.tags-item {
	display: flex;
	justify-content: center;
	align-items: center; 
	max-width: 86px;
	height: 30px;
	padding: 0 13px;
	margin: 0 7px 7px 0;
	font-weight: 700;
	font-family: "OpenSans" , "Arial", sans-serif;
	font-size: 12px;
	line-height: 40px;
	text-transform: uppercase;
	color: #0f0d0e;
	background-color: rgba(244,243,241,0);
	border: 3px solid #eeeeee;
	list-style-type: none;
}

.tags-item-link {
	text-decoration: none;
	color: #0f0d0e;
}

.tags-item:hover {
	border: 3px solid #b59f5b; 
}

.themes {
	width: 100%;
	text-align: center;
}

.themes-items {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 0;
	margin: 0;
}

.themes-item {
	width: 100%;
	font-size: 14px;
	line-height: 47px;
	font-weight: 700;
	font-family: "OpenSans" , "Arial", sans-serif;
	color: #000000;
	text-align: left;
	list-style-type: none; 
}

.themes-item-link {
	text-decoration: none;
	color: #000000;
}

.themes-item-link::after {
	content:"";
	display: block;
	border-bottom: 1px solid #eeeeee;
}

.themes-item-link:hover {
	color: #b59f5b;
}

.themes-item-link sup {
	padding-left: 7px;
	font-size: 12px;
	line-height: 36px;
	font-weight: 700;
	font-family: "OpenSans" , "Arial", sans-serif;
	color: #b59f5b;
}

.products {
	text-align: center;
	font-family: "OpenSans" , "Arial", sans-serif;
}

.products-title {
	margin-bottom: 28px;
}

.products-container {
	display: flex;
}

.product-box {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	width: 33%;
	text-align: left;
	margin-right: 6%;
}

.product-box:last-child {
	margin: 0;
}

.product-picture-img {
	width: 87%;
}

.product-img {
	width: 100%;
	height: 100%;
}

.product-content {
	position: relative;
	top: -30px;
	padding: 3.5em 1.3em 1.6em;
	font-size: 15px;
	border: 3px solid #b59f5b;
	flex: auto;
}

.product-title {
	font-size: 20px;
	line-height: 1.2em;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 0.8em;
}

.product-description {
	font-size: 15px;
	font-weight: 400;
	line-height: 22px;
	margin-bottom: 26px;
}

.product-description-link {
	color: #b59f5b;
	text-decoration: none;
}

.product-description-link:hover {
	text-decoration: underline;
}

.product-footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.product-prices {
	display: flex;
	flex-direction: column;
	font-family: "OpenSans" , "Arial", sans-serif;
}

.product-price {
	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;
	color: #0f0d0e;
	font-weight: 700;
}

.product-price-old {
	font-size: 14px;
	text-decoration: line-through;
}

.button-form {
	min-height: 48px;
	padding: 0 26px;
	background-color: #b59f5b;
	text-align: center;
}

.product-button {
	margin: 0 auto;
	font-size: 14px;
	line-height: 40px;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: 700;
	font-family: "OpenSans" , "Arial", sans-serif;
	background-color: inherit;
	border: none;
}

.footer {
	min-height: 170px;
}

.icons-group {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	background-color: #f4f7f6;
}

.icons {
	min-width: 110px;
	min-height: 80px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	flex-wrap: nowrap;
	padding: 0;
}

.icon-link {
	display: block;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	text-decoration: none;
}

.icon-link-dribbble {
		background-image: url(../svg/001-dribbble.svg)
}

.icon-link-pinterest {
	background-image: url(../svg/001-pinterest.svg);
}

.icon-link-tumblr {
		background-image: url(../svg/003-tumblr.svg);
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.copyright {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 218px;
	margin: 73px 0 40px;
	font-weight: 700;
	font-family: "OpenSans" , "Arial", sans-serif;
	font-size: 12px;
	line-height: 40px;
	color: #999999;
}

.copyright-link {
	text-decoration: none;
	color: #999999;
}

@media (min-width:1201px) {
	button.header-button {
		display: none;
	}
}

@media (min-width: 641px) and (max-width: 1200px) {
	.popup-content {
		width: 50%;
	}

	.popup-container {
		padding: 30px 48px;
	}

	.close-btn {
		top: -37px;
		width: 28px;
		height: 28px;
	}

	.popup-title {
		font-size: 18px;
	}

	.periodicity {
		margin-bottom: 2.8em;
	}

	.input-radio-mailing {
		margin-right: 2.5em;
	}

	.textarea-input-themes {
		margin-bottom: 1.9em;
	}

	.welcome {
		background-image: url(../image/banner-bg-tablet.jpg);
	}

	.container {
		padding: 0 33px;
	}

	.form-hint {
		margin-top: 20px;
	}

	.welcome-header {
		top: 42px;
	}

	.logo-link-start {
		min-width: 80px;
    width: 158px;
    min-height: 36px;
    margin-right: 20px;
	}
	
	.header-button {
		position: relative;
    min-width: 23px;
    height: 3px;
		margin-top: 4px;
		margin-left: 30px;
    background-color: #ffffff;
    outline: none;
    border: none;
	}

	.header-button::before {
		content: "";
		position: absolute;
    left: 0;
		display: block;
		min-width: 23px;
		height: 3px;
		margin: 4px 0;
		background-color: #ffffff;
	}

	.header-button::after {
		content: "";
		position: absolute;
    bottom: 0;
    left: 0;
		width: 23px;
		height: 3px;
		margin: 6px 0;
		background-color: #ffffff;
	}

	.welcome-title {
		font-size: 40px;
	}

	.trands-titles {
		font-size: 18px;
	}

	.trends-container {
		flex-wrap: wrap;
		margin-top: 20px;
	}

	.trend-part {
		flex-direction: row;
		align-items: flex-end;
		min-width: calc(50% - 2px);
		min-height: 247px;
		margin-bottom: 2px;
	}

	.trend-part:last-child,.trend-part:nth-last-child(2) {
		margin-bottom: 0;
	}

	.trend-title {
		font-size: 17px;
	}

	.main {
		margin-right: 30px;
	}

	.card {
		flex-direction: column;
	}

	.card-picture {
		margin: 0;
	}

	.card-content {
		margin-top: 15px;
	}

	.card-title {
		font-size: 17px;
	}

	.card-info {
		margin: 16px 0 37px;
	}

	.products {
		margin: 0 auto;
	}

	.products-container {
		flex-wrap: wrap;
	}

	.product-box {
    width: 48.5%;
    margin: 0;
	}

	.product-box:nth-child(odd) {
		margin-right: 1.5%;
	}
	.product-box:nth-child(even) {
		margin-left: 1.5%;
	}

	.product-content {
		flex: 1 1 auto;
		box-sizing: border-box;
	}

	.product-title {
		font-size: 17px;
		margin: 0 0 10px ;
	}

	.copyright {
		margin-top: 45px;
	}
	
}

@media (min-width:641px) and (max-width:1200px) , (orientation:landscape) {
	
	.trends-container {
		flex-wrap: nowrap;
	}
	
	.trend-part {
		min-width: calc(25% - 2px);
	}
}

@media (min-width:641px) and (max-width:1200px) , (orientation:portrait) {
	.trends-container {
		flex-wrap: wrap;
	}
	
	.trend-part {
		min-width: calc(50% - 2px);
	}
}

@media (max-width: 640px) {
	.popup-content {
		width: 91%;
	}

	.popup-container {
		padding: 15px 22px;
	}

	.close-btn {
		top: -33px;
		width: 28px;
		height: 28px;
	}

	.popup-title {
		font-size: 16px;
	}

	.periodicity {
		margin-bottom: 2.3em;
	}

	.textarea-input-themes {
		margin-bottom: 1.9em;
	}

	.text-input-radio-mailing {
		margin-right: 2.3em;
	}

	.welcome {
		min-height: 635px;
		background-image: url(../image/banner-mobile.jpg);
	}

	.container {
		padding: 15px;
	}

	.welcome-header {
		justify-content: flex-end;
	}

	.menu {
		display: none;
	}

	.header-button {
		position: relative;
    min-width: 23px;
    height: 3px;
		margin-top: 4px;
		margin-left: 30px;
    background-color: #ffffff;
    outline: none;
    border: none;
	}

	.header-button::before {
		content: "";
		position: absolute;
    left: 0;
		display: block;
		min-width: 23px;
		height: 3px;
		margin: 4px 0;
		background-color: #ffffff;
	}

	.header-button::after {
		content: "";
		position: absolute;
    bottom: 0;
    left: 0;
		width: 23px;
		height: 3px;
		margin: 6px 0;
		background-color: #ffffff;
	}

	.logo-link-start {
		position: absolute;
		top: 190px;
		left: 9%;
		width: 82%;
		min-height: 61px;
	}

	.welcome-title {
		min-width: 84%;
		min-height: 91px;
		margin-top: 300px;
		font-size: 26px;
	}

	.page-titles {
		margin-top: 2.6em;
		margin-bottom: 1.5em;
		font-size: 16px;
	}

	.trends-container {
		flex-direction: column;
	}

	.trend-part {
		min-width: 100%;
		margin: 0 0 2px 0;
	}

	.trend-title {
		font-size: 16px;
	}

	.wrapper {
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		margin-top: 40px;
		margin-bottom: 0%;
	}

	.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
		max-width: 100%;
		margin-bottom: 40px;
		margin-right: 0;
	}

	.card {
		flex-direction: column;
		align-items: center;
	}

	.card-picture {
		width: 100%;
		margin: 0 0 15px 0;
	}

	.content-title {
		font-size: 16px;
	}

	.card-text {
		font-size: 14px;
	}

	.search-bar {
		margin-bottom: 44px;
	}

	.sidebar {
		width: 100%;
	}

	.sidebar-title {
		font-size: 16px;
	}

	.header-new-post {
		max-width: 100%;
	}

	.search-bar {
		width: 100%;
	}

	.mailing {
		width: 100%;
	}
	 
	.tags-item {
		margin: 0 4px 5px 0;
	}

	.products-container {
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}

	.products {
		flex-direction: column;
		align-items: center;
	}

	.products-title {
		margin-top: 14px;
	}

	.product-box {
		width: 100%;
		margin-right: 0;
	}

	.product-content {
		flex: 1 1 215px;
	}

	.product-description {
		margin-bottom: 25px;
	}

}

@media (max-width: 640px), (orientation:landscape) {
	.trends-container {
		flex-wrap: wrap;
	}
	
	.trend-part {
		min-width: calc(50% - 2px);
	}
}

@media (max-width: 640px), (orientation:portrait) {
	.trend-part {
		min-width: 100%;
	}
}



  